apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: argocd

bases:
  - ../../base

commonLabels:
  environment: production
  managed-by: gitops

patchesStrategicMerge:
  - resource-quota.yaml
