apiVersion: v1
kind: Service
metadata:
  name: sample-nginx
  labels:
    app: sample-nginx
    managed-by: gitops
spec:
  type: LoadBalancer
  ports:
  - port: 80
    targetPort: 80
    protocol: TCP
    name: http
  selector:
    app: sample-nginx
